{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	    <h1>Sample Lead Importer for Close.io</h1>
	    <h4>Use this handy tool to automatically import a list of leads into Close.io so you can test out built-in calling, SMS, and email.</h4>
	    <hr>
	    <br>
	   {% if form.validate_on_submit() %}
	   		{% set errors = get_flashed_messages(category_filter=["error"]) %}
	   		{% set success = get_flashed_messages(category_filter=["success"]) %}

			{% if errors %}
			    {% for message in errors %}
			    	<h4>Error: {{ message }}. <a href="{{ url_for('index') }}">Try again</a>.</h4>
			    {% endfor %}
			{% endif %}

			{% if success and not errors %}
			    {% for message in success %}
			    	<h4>Success! Start making test calls and emails in Close.io <a href="{{ message }}">here</a>.</h4>
			    {% endfor %}
			{% endif %}

	    {% else %}
	    	<div class="row">
	        	<div class="col-md-4">
	            	{{ wtf.quick_form(form) }}
	        	</div>
	    	</div>
	    {% endif %}
{% endblock %}